.scroll-container {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  /* Adjust according to your layout */
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  scroll-padding-inline-start: 100px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}

.scroll-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 500px;
}

@media (max-width: 768px) {
  .scroll-item {
    width: 300px;
  }

  .scroll-container {
    scroll-padding-inline-start: 24px;
  }
}