@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply font-inter text-main-black;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-montserrat;
}

.home {
  @apply bg-main-green-background h-full w-full
}

h2 {
  @apply text-3xl font-bold
}

.counter-text {
  @apply text-5xl font-bold font-montserrat
}

.counter-text__coma {
  @apply text-[90px] leading-none font-montserrat font-bold 
}