@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

header {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    background-color: #fff;
    justify-content: space-between;
}

body {
    width: 70%;
    display: block;
    margin: auto;
    background-color: #F5F5F5;
    font-family: 'Nunito', sans-serif;
}

.menu {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.menu-item {
    padding: 10px;
    text-decoration: none;
    color: #0b6e4f;
}

.logo>img {
    width: 150px;
}

.content {
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.content-header {
    width: 100%;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}

@media screen and (max-width: 960px) {
    body {
        width: 100%;
    }
    .logo>img {
        width: 100px;
    }
    .menu {
        width: 200px;
        display: none;
    }
}