@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply font-inter text-main-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat;
}

.page {
  @apply h-full w-full
}

.home {
  @apply bg-main-green-background h-full w-full
}

.service {
  @apply bg-main-black h-full w-full
}

h1 {
  @apply text-4xl lg:text-5xl font-bold
}

h2 {
  @apply text-3xl font-bold
}

.counter-text {
  @apply text-lg md:text-2xl lg:text-3xl xl:text-5xl font-bold font-montserrat
}

.counter-text__coma {
  @apply text-[30px] md:text-[70px] xl:text-[90px] leading-none font-montserrat font-bold
}

.h2 {
  @apply text-center lg:text-left font-bold text-3xl sm:text-4xl md:text-5xl lg:text-6xl mb-4 md:mb-8 text-balance
}

.h3 {
  @apply font-bold text-4xl
}

.h5 {
  @apply font-bold text-2xl
}

.h1 span,
.h2 span,
.h3 span {
  @apply text-main-green
}

.section-rounded__top {
  @apply rounded-t-[20px] md:rounded-t-[40px]
}

.section-rounded__bottom {
  @apply rounded-b-[20px] md:rounded-b-[40px]
}

.section {
  @apply max-w-7xl mx-auto px-[24px] lg:px-[48px]
}